@use '../mixins' as *;

.root {
  @include gradient-background;

  padding: 30px;
}

.title {
  font-weight: 900;
  color: white;
  border-bottom: 5px solid transparentize(white, 0.9);
  margin-bottom: 35px;
}
